**Salaries paid to Data Jobs**

Using the salaries.csv file, we will be exploring the data to find out the following:
1. Average salary of all the jobs
2. Average salary for Data Engineers
3. Average salary for Data Scientists
4. Average salary for Data Analysts
5. Average salary for Business Analysts
6. Average salary for Applied Scientists
7. Average salary for Data Lead
8. Average salary for Data Quality Analysts
9. Average salary for Business Intelligence Engineers
10. Average salary for Machine Learning Engineers
11. Average salary for Data Strategy Manager
12. Average salary for Computer Vision Engineers
13. Average salary for BI Analysts

We will calculate also how much average they earn per level of experience.

The following libraries will be used:
1. Pandas
2. Matplotlib
3. Seaborn
4. Numpy
5. Scipy
6. Statsmodels
7. Scikit-learn

In [2]:
import pandas as pd

salaries = pd.read_csv('salaries.csv')

salaries.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Business Data Analyst,65000,GBP,79976,ES,100,GI,L
1,2023,SE,FT,Business Intelligence Analyst,115600,USD,115600,US,0,US,M
2,2023,SE,FT,Business Intelligence Analyst,79700,USD,79700,US,0,US,M
3,2023,EN,FT,Applied Scientist,281700,USD,281700,US,0,US,M
4,2023,EN,FT,Applied Scientist,141100,USD,141100,US,0,US,M
5,2023,SE,FT,Data Specialist,173100,USD,173100,US,0,US,M
6,2023,SE,FT,Data Specialist,86900,USD,86900,US,0,US,M
7,2023,MI,FT,Machine Learning Engineer,258700,USD,258700,US,0,US,M
8,2023,MI,FT,Machine Learning Engineer,133800,USD,133800,US,0,US,M
9,2023,MI,FT,Data Analyst,120000,USD,120000,US,0,US,M

Checking data types.

In [3]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8270 entries, 0 to 8269
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           8270 non-null   int64
 1   experience_level    8270 non-null   object
 2   employment_type     8270 non-null   object
 3   job_title           8270 non-null   object
 4   salary              8270 non-null   int64
 5   salary_currency     8270 non-null   object
 6   salary_in_usd       8270 non-null   int64
 7   employee_residence  8270 non-null   object
 8   remote_ratio        8270 non-null   int64
 9   company_location    8270 non-null   object
 10  company_size        8270 non-null   object
dtypes: int64(4), object(7)
memory usage: 710.8+ KB

Checking for null values in the data and summing them up.

In [7]:
salaries.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

There are no null values in the data.

**Average salary of all the jobs**

We will be using the mean() function to calculate the average salary of all the jobs.

In [10]:
avg_salary = salaries['salary_in_usd'].mean()

print('The average salary of all the jobs is: $', avg_salary)

The average salary of all the jobs is: $ 149349.48875453445

*Average salary for Data Engineers*

In [11]:
data_engineer = salaries[salaries['job_title'] == 'Data Engineer']

data_engineer_salary = data_engineer['salary_in_usd'].mean()

print('The average salary of Data Engineers is: $', data_engineer_salary)

The average salary of Data Engineers is: $ 146441.31211812628

*Average salary for Data Scientists*

In [12]:
data_scientist = salaries[salaries['job_title'] == 'Data Scientist']

data_scientist_salary = data_scientist['salary_in_usd'].mean()

print('The average salary of Data Scientists is: $', data_scientist_salary)

The average salary of Data Scientists is: $ 156107.41216991964

*Average salary for Data Analysts*

In [13]:
data_analyst = salaries[salaries['job_title'] == 'Data Analyst']

data_analyst_salary = data_analyst['salary_in_usd'].mean()

print('The average salary of Data Analysts is: $', data_analyst_salary)

The average salary of Data Analysts is: $ 109927.03646677472

*Average salary for Business Analysts*

In [16]:
business_analyst = salaries[salaries['job_title'] == 'Business Intelligence Analyst']

business_analyst_salary = business_analyst['salary_in_usd'].mean()

print('The average salary of Business Intelligence Analysts is: $', business_analyst_salary)

The average salary of Business Intelligence Analysts is: $ 130867.18421052632

*Average salary for Applied Scientists*

In [17]:
applied_scientist = salaries[salaries['job_title'] == 'Applied Scientist']

applied_scientist_salary = applied_scientist['salary_in_usd'].mean()

print('The average salary of Applied Scientists is: $', applied_scientist_salary)

The average salary of Applied Scientists is: $ 190517.82083333333

*Average salary for Data Lead*

In [18]:
data_lead = salaries[salaries['job_title'] == 'Data Lead']

data_lead_salary = data_lead['salary_in_usd'].mean()

print('The average salary of Data Lead is: $', data_lead_salary)

The average salary of Data Lead is: $ 181250.0