**World's Air Quality and Water Pollution Analysis**

We will import data from a csv file, cities_air_quality_water_pollution
.18-10-2021 (1).csv, and analyze the data to find the most polluted cities
in the world. Also, we will find the least polluted cities in the world.

In [1]:
import pandas as pd

pollution_data = pd.read_csv('cities_air_quality_water_pollution.18-10-2021 (1).csv')

pollution_data.head(10)

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
5,Bern,"""Canton of Bern""","""Switzerland""",94.318182,12.500000
6,Geneva,"""Canton of Geneva""","""Switzerland""",71.538462,17.372881
7,Zurich,"""Canton of Zurich""","""Switzerland""",83.809524,10.714286
8,Basel,"""""","""Switzerland""",81.666667,26.923077
9,London,"""England""","""United Kingdom""",37.042254,40.716374